body{
    background-color: rgb(201, 201, 201);
}

footer{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    text-align: center;
    font-size: 1.0rem;
}

.cartao {
    margin: 1rem 1rem;
    background-color: burlywood;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}